@import "../abstracts/variables";

.button {
    width: 242px;
    color: $color-white-light;
    font-size: $font-small;
    font-weight: $fw-small;
    line-height: 24px;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;

    &--basket {
        background: $color-dark-red;
      }
      
      &--end-up {
        background: #4d762d;
      }
      
      &--basket:hover {
        background: #744978;
      }
      
      &--end-up:hover {
        background: #6DB236;
      }
  }
  
.chat-button {
  box-sizing: border-box;
  position: fixed;
  border: 0;
  top: 50%;
  right: 28px;
  background-color: transparent;
}

.chat-button__image {
  width: 64px;
  height: 64px;
  background-color: $header-color;
  border-radius: 50%;
}