//Font sizes
$font-small: 16px;
$font-medium: 24px;
$font-large: 32px;

//Font weight
$fw-small: 400;
$fw-medium: 600;
$fw-large: 700;

//Color
$header-color: #10bbd5;
$color-white-light: #f8fdfe;
$color-white: #fff;
$color-black: #000;
$color-black-second: #1f1f1f;
$color-grey: #a8a8a8;
$color-dark-red: #4c394e;
$color-red: #e90000;

@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
  
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}