@import "../abstracts/variables";

.footer {
    @include flex(row, space-between, center);
    width: 100%;
    height: 88px;
    background: $color-dark-red;
  
    & span {
      color: $color-white-light;
      font-family: $font-stack;
      font-size: $font-small;
      font-weight: $fw-small;
      line-height: 24px;
      margin: 0 52px;
    }
  }