@import "../abstracts/variables";

a {
  text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;
  }
  
  .header-content {
    @include flex(row, space-between, center);
    padding: 16px 52px;
    background: $header-color;
  }

  .header-content__logo {
    color: $color-white-light;
    font-size: $font-medium;
    font-weight: $fw-large;
    width: 26px;
    height: 28px;
    cursor: default;
  }
  
  .header-content__cart-container {
    @include flex-center;
    gap: 8px;

    & p {
      color: $color-white-light;
      font-size: $font-small;
      font-weight: $fw-small;
      line-height: 24px;
    }

    & button {
      background-color: $header-color;
      border: 0;
    }
  }
  
  .header-content__card {
    position: relative;
    z-index: 2;

    & p {
      @include flex-center;
      background: $color-white;
      width: 5px;
      height: 10px;
      position: absolute;
      top: 13px;
      left: 27px;
      color: $color-black;
      font-size: 12px;
      font-weight: $fw-small;
      line-height: 10px;
    }
  }
    
  .nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 4px 52px;
    background: $color-white;
  }

  .nav-menu__link {
    color: $color-black;
    font-size: $font-small;
    font-weight: $fw-small;
    line-height: 24px;
    cursor: default;
    white-space: nowrap;
  }
  
  .nav-menu__right {
    @include flex-center;
    gap: 40px;
  }