@import "../abstracts/variables";

.main-container {
  background: #eeeeef;
  margin-top: 104px;
}

.main-container__title {
  color: $color-black-second;
  font-size: $font-large;
  font-weight: $fw-medium;
  line-height: 40px;
  padding: 32px 0 23px;
  white-space: nowrap;
  border-bottom: 1px solid $color-grey;
  margin: 0 52px;
}

.product-content {
    @include flex(row, flex-start, center);
    margin: 24px 52px 0;
    flex-wrap: wrap;
    padding-bottom: 112px;
    gap: 24px;
  
    &__image--hit::before,
    &__image--new::before {
      content: "Hit";
      position: absolute;
      z-index: 1;
      padding: 4px 8px;
      top:0;
      left: -32px;
      border-radius: 4px;
      background: #4200ff;
      color: $color-white-light;
      text-align: center;
      font-size: $font-small;
      font-weight: $fw-small;
      line-height: 24px;
      white-space: nowrap;
    }
    
    &__image--new::before {
      content: "New";
      background: #af39e7;
    }
  
    &__image--discount::after,
    &__image--discount-first::after,
    &__image--discount-second::after,
    &__image--discount-third::after,
    &__image--discount-fourth::after,
    &__image--discount-fifth::after {
      content: "10% off";
      position: absolute;
      z-index: 1;
      padding: 4px 8px;
      top:0;
      left: 8px;
      border-radius: 4px;
      background: #ea33c0;
      color: $color-white-light;
      text-align: center;
      font-size: $font-small;
      font-weight: $fw-small;
      line-height: 24px;
      white-space: nowrap;
    }
    
    &__image--discount-first::after {
      content: "16% off";
    }
    
    &__image--discount-second::after {
      content: "11% off";
      left: 19px;
    }
    
    &__image--discount-third::after {
      content: "7% off";
    }
    
    &__image--discount-fourth::after {
      content: "20% off";
      left: -32px;
    }
    
    &__image--discount-fifth::after {
      content: "30% off";
      left: 19px;
    }
  }

  .product-content__card {
    @include flex(column, center, center);
    width: 306px;
    height: 512px;
    padding: 32px;
    border: 1px solid $color-grey;
    margin-bottom: 8px;
    gap:16px;
    background: $color-white-light;
  }
  
  .product-content__image { 
    position: relative;
    @include flex(column, center, center);
    margin: 0 32px;
    cursor: default;
  }

  .product-content__price-block {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .product-content__information {
    display: flex;
    flex-direction: column;
  }

  .product-content__name {
    width: 242px;
    overflow: hidden;
    color: $color-black-second;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: $fw-large;
    line-height: 28px;
    border-bottom: 1px solid $color-grey;
  }
  
  .product-content__author {
    color: #8e8e8e;
    font-size: $font-small;
    font-weight: $fw-small;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .product-content__price {
    color: $color-red;
    font-size: $font-medium;
    font-weight: 500;
    line-height: 32px;
  }

  .product-content__full-price {
    color: #8e8e8e;
    font-size: $font-medium;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
  }